.footer-main{
    width: 100vw;
    height: 7vh;
    border-top: 2px solid #219EBC;

}

.footer-icons{
    width: 100vw;
    display: flex;
    justify-content: space-evenly
}

.icon{
    font-size: 3vh;
    color: #219EBC;
}

.footer-text{
    font-size: 2vh;
    width: 100vw;
    text-align: center;
}

